<!doctype html>
<html lang="en">

<head th:replace="/fragments/head::heads"></head>

<body>
    
    <head th:replace="/fragments/nav :: nav-front"></head>



    <div class="container">
        <div class="row">
            <div class="col">
                <h1>SpringBoot</h1>
            </div>
        </div>   
        <div>
            <a  class="btn btn-primary" href="/admin/pages">Click Me!</a>
        </div>
    </div> <!-- /container -->


    <div th:replace="/fragments/footer::footer"></div>
    
</body>

</html>